<% layout("layout/application.ejs") -%>

<div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
    <div class="card">
        <div class="card-body mt-3 mb-3 ms-5 me-5">
            <div class="page-header mb-4 text-center">
                <h4 class="fw-bold">Edit pastexam</h4>
            </div>
            <form method="post" data-method="patch" action="/pastexams/<%= id %>?_csrf=<%= csrfToken %>" enctype="multipart/form-data" onsubmit="return checkForm();">
                <%- partial("_form.ejs") %>
                <% if(typeof newPastexamError !== "undefined"){ %>
                    <ul class="error-message">
                        <% newPastexamError.forEach(error => { %>
                            <li><font color="red"><%= error %></font></li>
                        <% }) %>
                    </ul>
                <% } %>
                <button type="submit" class="btn btn-success mb-2">Update</button><br>
            </form>
            <a href="/pastexams/<%= id %>" class="btn btn-sm btn-secondary">Back</a>
        </div>
    </div>
</div>
