<% layout("layout/application.ejs") -%>

<div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
    <div class="card">
        <div class="card-body mt-3 mb-3 ms-5 me-5">
            <div class="page-header row mb-4">
                <% if(typeof isAdmin !== "undefined" && isAdmin === true){ %>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <h3 class="fw-bold d-inline">Registration list of <%= nowOnYear %> year</h3>
                    </div>
                    <div class="col">
                        <a class="btn btn-sm btn-warning float-end ms-2 mt-sm-1 mt-1 mb-1" href="/register/upload">Edit score &amp; rank</a>
                        <a class="btn btn-sm btn-success float-end ms-2 mt-sm-1 mt-1 mb-1" href="/register/download?year=<%= nowOnYear %>">Download CSV</a>
                        <form class="float-end d-inline ms-2 mt-sm-1 mt-1 mb-1" method="post" action="/register/index" onSubmit="return checkform();">
                            <button type="submit" class="btn btn-sm btn-secondary float-end ms-2">Filter</button>
                            <input id="csrf-token" name="_csrf" value="<%= csrfToken %>" type="hidden" />
                            <div class="d-inline-block float-end">
                                <select id="yearofcontest" class="form-select form-select-sm" name="yearofcontest" />
                                    <% years.forEach(year => { %>
                                        <% if(year === nowOnYear){ %>
                                            <option value="<%= year.registerYear %>" selected><%= year.registerYear %></option>
                                        <% } else { %>
                                            <option value="<%= year.registerYear %>"><%= year.registerYear %></option>
                                        <% } %>
                                    <% }); %>
                                </select>
                            </div>
                            <span class="float-end mt-1 me-2">Year of contest</span>
                        </form>
                    </div>
                <% } else { %>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <h3 class="fw-bold d-inline">Registration history</h3>
                    </div>
                <% } %>
            </div>
            <hr class="col-12 title-hr">
            <table id="registration-table" class="table text-center">
                <thead>
                    <tr>
                        <% if(typeof isAdmin !== "undefined" && isAdmin === true){ %>
                            <th class="table-head fw-bold">Registrant</th>
                        <% } else { %>
                            <th class="table-head fw-bold">Year of contest</th>
                        <% } %>
                        <th class="table-head fw-bold">Class & Seat</th>
                        <th class="table-head fw-bold">Student ID</th>
                        <th class="table-head fw-bold">Verification Code</th>
                        <th class="table-head fw-bold" width="10%">Score</th>
                        <th class="table-head fw-bold" width="10%">Rank</th>
                        <% if(typeof isAdmin !== "undefined" && isAdmin === true){ %>
                            <th class="table-head fw-bold" width="18%">Delete</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% registrations.forEach(registration => { %>
                        <tr class="table-row">
                            <% if(typeof isAdmin !== "undefined" && isAdmin === true){ %>
                                <td class="table-cell"><%= registration.registrant.realname %></td>
                            <% } else { %>
                                <td class="table-cell"><%= registration.registerYear %></td>
                            <% } %>
                            <td class="table-cell"><%= registration.classSeat %></td>
                            <td class="table-cell"><%= registration.studentId %></td>
                            <td class="table-cell"><%= registration.verificationCode %></td>
                            <td class="table-cell"><%= typeof registration.score !== "undefined" && registration.score ? parseFloat(registration.score) : "N/A" %></td>
                            <td class="table-cell<%= typeof registration.rank !== "undefined" && registration.rank && registration.rank <= 10 ? ` rank-${registration.rank}` : "" %>"><%= typeof registration.rank !== "undefined" && registration.rank ? registration.rank : "N/A" %></td>
                            <% if(typeof isAdmin !== "undefined" && isAdmin === true){ %>
                                <td class="table-cell">
                                    <form class="row ms-0 me-0" method="post" data-method="delete" action="/register/<%= registration.id %>">
                                        <input id="verificationcode" class="form-control form-control-sm" name="verificationcode" placeholder="Verification Code" style="width: 60%;" required />
                                        <button type="submit" class="btn btn-sm btn-danger ms-1" style="width: 30%;">Delete</button>
                                    </form>
                                </td>
                            <% } %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <div class="mt-2">
                <span><%= registrations.length %> records</span>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(() => {
    $("#registration-table").DataTable({
        searching: false,
        paging: false,
        info: false,
        columnDefs: [
            { orderable: false, targets: [6] },
            { className: "dt-head-center", targets: [0, 1, 2, 3, 4, 5, 6] }
        ]
    });
});
</script>
