<% layout("layout/application.ejs") -%>

<div class="col-12 col-sm-12 col-md-8 col-lg-5 mx-auto">
    <div class="card">
        <div class="card-body mt-3 mb-3 ms-5 me-5">
            <div class="page-header mb-4 text-center">
                <h4 class="fw-bold">Register for Contest</h4>
            </div>
            <form method="post" action="/register" onsubmit="return checkForm();">
                <input id="csrf-token" name="_csrf" value="<%= csrfToken %>" type="hidden" />
                <div class="form-group mb-3">
                    <label for="yearofcontest">Year of contest</label>
                    <input id="yearofcontest" class="form-control" name="yearofcontest" value="<%= yearOfContest %>" readonly />
                </div>
                <div class="form-group mb-3">
                    <label for="studentid">Student ID (e.g. 910996) (Cannot be changed)</label>
                    <input id="studentid" class="form-control" name="studentid" value="<%= typeof studentid !== "undefined" ? studentid : "" %>" data-required="Student ID is required" />
                </div>
                <div class="form-group mb-3">
                    <label for="classseat">Class &amp; Seat (e.g. 31035) (Cannot be changed)</label>
                    <input id="classseat" class="form-control" name="classseat" value="<%= typeof classseat !== "undefined" ? classseat : "" %>" data-required="class & Seat is required" />
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password for contest system in practice session</label>
                    <input id="password" class="form-control" name="password" type="password" data-required="Password is required" />
                </div>
                <div class="form-group mb-3">
                    <label for="repassword">Repeat password</label>
                    <input id="repassword" class="form-control" name="repassword" type="password" data-required="Repeat password is required" />
                </div>
                <div class="text-center">
                    <ul class="error-message">
                        <% if(typeof contestRegistrationError !== "undefined"){ %>
                            <% contestRegistrationError.forEach(error => { %>
                                <li><font color="red"><%= error %></font></li>
                            <% }) %>
                        <% } %>
                    </ul>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success" style="width: 50%">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
$(document).ready(() => {
    $("#username").focus();
});
</script>
